@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #374249;
}
header img {
  width: 30px;
  vertical-align: middle;
}
header div {
  padding: 10px;
  text-align: left;
  width: 15%;
  background-color: #f75311;
}
header nav {
  width: 80%;
  padding: 10px;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding-right: 50px;
}
header a {
  font-size: 9pt;
  color: #fff;
  text-decoration: none;
}
header a.text-location {
  font-size: 10pt;
}
header a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
}

h2 {
  color: #374249;
  font-size: 12pt;
  padding-bottom: 10px;
}

.content-top {
  height: 500px;
  background-image: url(../slike/intro.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.content-top .text-container {
  width: 800px;
  top: 70%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  color: #fff;
  background-color: hsla(203, 14%, 25%, 0.5);
}
.content-top p {
  font-size: 9pt;
}

.content-mid1 .button-cont {
  padding: 5px 150px;
  text-align: end;
}
.content-mid1 .button-cont input {
  padding: 10px 20px;
  border: solid 1px #797979;
  border-radius: 30px;
  background-color: #fff;
  margin: 10px;
  color: #797979;
}
.content-mid1 .button-cont input:hover {
  color: #fff;
  background-color: #cfd1d3;
}
.content-mid1 .gallery-background {
  background-color: #f3f7f9;
  padding: 20px;
}
.content-mid1 .img-gallery {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.content-mid1 .img-gallery .img-1 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/1.jpg);
}
.content-mid1 .img-gallery .img-2 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/2.jpg);
}
.content-mid1 .img-gallery .img-3 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/3.jpg);
}
.content-mid1 .img-gallery .img-4 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/4.jpg);
}
.content-mid1 .img-gallery .img-5 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/5.jpg);
}
.content-mid1 .img-gallery .img-6 {
  width: 150px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  background-image: url(../slike/6.jpg);
}
.content-mid1 .hidden-content {
  background-color: hsla(0, 0%, 100%, 0.5);
  color: #000;
  font-size: 10pt;
  text-align: left;
  padding: 10px;
  padding-bottom: 30px;
  visibility: hidden;
}
.content-mid1 .img-gallery div:hover .hidden-content {
  visibility: visible;
}

.content-mid2 {
  color: #797979;
  padding-top: 20px;
  padding-bottom: 40px;
}
.content-mid2 p {
  font-size: 8pt;
  padding-top: 10px;
  padding-bottom: 30px;
}
.content-mid2 table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 8pt;
}
.content-mid2 table tbody {
  border: solid 1px #797979;
}
.content-mid2 table tbody td,
.content-mid2 table tbody th {
  border: solid 1px #797979;
}
.content-mid2 table th {
  padding: 5px 50px;
  color: #fff;
  font-weight: normal;
}
.content-mid2 table th.orange {
  background-color: #f75311;
}
.content-mid2 table th.blue {
  background-color: #374249;
}
.content-mid2 .hidden-button {
  padding: 10px 20px;
  border: solid 1px #797979;
  border-radius: 30px;
  background-color: #fff;
  margin: 10px;
  color: #797979;
  display: none;
}

.content-bottom {
  padding: 20px;
  background-color: #f3f7f9;
}
.content-bottom div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}
.content-bottom iframe {
  width: 250px;
  height: 200px;
  border: 0;
}
.content-bottom form {
  padding: 10px 20px;
  width: 50%;
  height: fit-content;
  background-color: #f75311;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.content-bottom form * {
  margin: 10px 0;
  border: 0;
  line-height: 20px;
}
.content-bottom form select {
  flex-basis: 30%;
  padding: 0;
}
.content-bottom form input[type=text] {
  flex-basis: 60%;
}
.content-bottom form input[type=email] {
  width: 100%;
}
.content-bottom form textarea {
  width: 100%;
}
.content-bottom form ::placeholder,
.content-bottom form select {
  font-size: 7pt;
  padding: 5px;
}

footer {
  background-color: #374249;
  font-size: 8pt;
  padding: 10px;
}
footer .text-white {
  color: #fff;
}
footer .text-orange {
  color: #f75311;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-top .text-container {
    width: 60%;
    padding: 0 120px;
  }
  h1 {
    text-wrap: wrap;
  }
  .hidden-button {
    display: none;
  }
  .img-gallery > div {
    flex-basis: 40%;
  }
  .content-bottom div {
    flex-direction: column;
    align-items: center;
  }
  .content-bottom div form {
    width: 70%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    padding: 10px 0;
  }
  .content-top {
    background-image: none;
    background-color: #000;
    height: 120px;
  }
  .content-top .text-container {
    width: 50%;
    visibility: hidden;
    position: unset;
    align-content: center;
  }
  .content-top .text-container h1 {
    visibility: visible;
    text-wrap: wrap;
  }
  .content-top .text-container p {
    visibility: visible;
  }
  .content-mid1 .button-cont {
    padding: 5px 0;
    text-align: center;
  }
  .img-gallery {
    flex-direction: column;
    align-content: center;
    text-wrap: nowrap;
  }
  .img-gallery .hidden-content {
    text-wrap: wrap;
  }
  table {
    display: none;
  }
  .hidden-button {
    padding: 10px 20px;
    border: solid 1px #797979;
    border-radius: 30px;
    background-color: #fff;
    margin: 10px;
    color: #797979;
    display: unset;
  }
  .content-bottom div {
    flex-direction: column;
    align-items: center;
  }
  .content-bottom div form {
    width: 90%;
    margin-top: 20px;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
