@mixin link-item-decoration($color) {
  text-decoration: none;
  color: $color;
}
@mixin list_style {
  list-style: none;
}

@mixin hover-underline {
  text-decoration: underline;
}

@mixin buttonhover {
  background-color: $gray;
  color: $white;
}

@mixin picturehover {
  background-color: #ffffff9f;
}
@mixin blueheader {
  font-size: 42px;
  text-align: center;
  margin: 0;
  color: $naslovi;
}

@mixin srednji_ekran {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin mali_ekran {
  @media screen and (max-width: 500px) {
    @content;
  }
}
