@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;800&family=Roboto:wght@300;400;700&display=swap');

$orange: #f75311;
$deepblue: #374249;
$fontcolor: #797979;
$headingcolor: #374249;
$greyhoverbutton: #cfd1d3;
$greyhoverbackground: #f3f7f9;
$fontfamily: 'Roboto';