@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$main_Font: 'Roboto', sans-serif;
$orange_Color: #f75311;
$headerAndFooter_Color: #374249;
$font_Color: #797979;
$heading_Color: #374249;
$hoverButton_Color: #cfd1d3;
$bgSection_Color: #f3f7f9;

// Narandzasta: #f75311 
// 	Tamno plava (header i footer): #374249
// 	Boja fonta: #797979
// 	Naslovi: #374249
// 	Svetlo siva 1 (hover na dugmice): #cfd1d3
// 	Svetlo siva 2 (pozadina sekcija): #f3f7f9