@import "vars";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  nav {
    background-color: $header-footer-background-color;

    ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;

      li {
        display: flex;
        line-height: 42px;
        width: 6em;
        padding-left: 20px;
        color: white;

        img {
          width: 20%;
          height: 90%;
          align-self: center;
        }
        span {
          text-decoration: underline;
        }
      }

      .first-nav-item {
        background-color: $custom-orange-color;
        width: 20%;

        padding-right: 52px;
        padding-left: 24px;
      }
    }
  }
  .heading-img-container {
    position: relative;
    height: 34em;
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .h1-h2-container {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      background: rgba(55, 66, 73, 0.6);
      text-align: center;
      width: 70%;

      h1,
      h2 {
        font-weight: lighter;
      }
      h1 {
        font-size: 3em;
      }
      h2 {
        font-size: 1em;
      }
    }
  }
}
