@import "vars";
@import "mixins";

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: $fontFamily;
  color: $bojaFonta;
}

nav {
  @include nav-deco;
}

main {
  article {
    .header-section {
      position: relative;
      img {
        width: 100%;
      }

      .text {
        text-align: center;
        position: absolute;
        background: $naslovi;
        width: 60em;
        top: 60%;
        left: 10%;
        color: white;
        h1 {
          font-size: 54px;
          font-weight: 400;
        }
      }
    }
  }
}
