@import "vars";
@import "mixins";

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: $fontFamily;
  color: $bojaFonta;
}

nav {
  @include nav-deco;
}

main {
  article {
    @include header-deco;

    @include picture-section-deco;

    @include pricing-section-deco;

    @include contact-us-section-deco;
  }
}

footer {
  background-color: $headerFooterBoja;
  text-align: center;
  display: flex;
  height: 40px;
  align-items: center;

  p {
    color: white;
  }
  a {
    text-decoration: none;
    color: $narandzastaBoja;
  }
}

@media screen and (max-width: 1000px) {
  .photo-section {
    .buttons {
      text-align: end;
      margin-right: 100px;
      button {
        background-color: white;
        border: solid 1px lightgray;
        border-radius: 50px;
        padding: 15px 50px;
        margin: 30px 10px 30px;
        cursor: pointer;
      }
      button:hover {
        background-color: $hoverBoja;
        color: white;
      }
    }

    .pictures {
      background: $pozadinaSekcijeBoja;
      display: flex;
      flex-wrap: wrap;
      justify-content: center !important;
      gap: 20px;
      padding: 40px 120px !important;
      width: 100%;

      .cena {
        position: relative;
        margin: 0;

        img {
          width: 250px !important;
          height: 90%;
        }

        p {
          position: absolute;
          background-color: rgba(211, 211, 211, 0.617);
          width: 100%;
          padding: 10px;
          color: black;
          font-size: 24px;
          visibility: hidden;
        }
      }
      .cena:hover {
        cursor: pointer;
        p {
          visibility: visible;
        }
      }
    }
  }
}

.section-contact-us {
  background-color: $pozadinaSekcijeBoja;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    padding: 30px;
    font-size: 32px;
    color: $headerFooterBoja;
  }
  .mapaforma {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    margin: 0;
    gap: 100px;
    padding: 30px;

    .forma {
      background-color: $narandzastaBoja;
      width: 90% !important;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;

        input {
          width: 96%;
          padding: 10px;
        }
        select {
          width: 20%;
          padding: 10px;
        }
        .kraci-input {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    background: $headerFooterBoja;
    color: white;
    ul {
      display: flex;
      align-items: center;
      justify-content: start;
      list-style: none;
      padding: 0;
      flex-direction: column !important;
      li {
        margin: 0;
        margin-left: 20px;
        padding: 30px !important;
        img {
          width: 50px;
        }
      }
      a {
        text-decoration: none;

        margin: 0 20px;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
      .custom-link {
        display: flex;
        align-items: center;
        margin: 0;

        width: 100%;
        background: $narandzastaBoja;
        a {
          margin: 0;
          text-decoration: underline;
          cursor: pointer;
        }
        a:hover {
          text-decoration: none;
        }
        img {
          margin: 0;
          margin-left: 20px;
        }
      }
    }
  }

  .header-section {
    position: relative;
    img {
      width: 100%;
    }

    .text {
      text-align: center;
      position: absolute;
      background: $naslovi;
      width: 40em !important;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      h1 {
        font-size: 54px;
        font-weight: 400;
      }
    }
  }

  .photo-section {
    .buttons {
      text-align: center !important;
      margin-right: 0px !important;
      button {
        background-color: white;
        border: solid 1px lightgray;
        border-radius: 50px;
        padding: 15px 40px !important;
        margin: 0 !important;
        margin: 30px 10px !important;

        cursor: pointer;
      }
      button:hover {
        background-color: $hoverBoja;
        color: white;
      }
    }

    .pictures {
      background: $pozadinaSekcijeBoja;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 20px;
      padding: 40px 0px !important;
      width: 100%;

      .cena {
        position: relative;
        margin: 0;

        img {
          width: 600px !important;
          height: 300px !important;
          object-fit: cover !important;
        }

        p {
          position: absolute;
          background-color: rgba(211, 211, 211, 0.617);
          width: 100%;
          padding: 50px !important;
          color: black;
          font-size: 32px !important;
          visibility: visible !important;
        }
      }
      .cena:hover {
        cursor: pointer;
        p {
          visibility: visible;
        }
      }
    }
  }

  .pricing-section {
    .tables {
      display: none !important;
    }
    .pricing-button {
      display: block !important;
      background-color: white;
      border: solid 1px lightgray;
      border-radius: 50px;
      padding: 25px 60px !important;
    }
    button:hover {
      background-color: $hoverBoja;
      color: white;
    }
  }

  .forma {
    background-color: $narandzastaBoja;
    width: 80% !important;
    margin: 0 !important;

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;

      input {
        width: 100% !important;
        padding: 10px;
      }
      select {
        width: 100% !important;
        padding: 10px;
      }
    }
  }
}
